<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="reportSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="automationSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="utilitySettings" type="System.Configuration.NameValueSectionHandler" />
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <connectionStrings>
    <add name="TestRunDataDB" connectionString="Data Source=trevor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SoftwareBuild" value="Unknown" />
    <add key="LogsFolder" value="C:\UL.Automation" />
  </appSettings>
  <reportSettings>
    <add key="ReportFolder" value="C:\Reports" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="ReportSubTitle" value="ULSC" />
    <add key="UseRunnerDialog" value="true" />
    <add key="ShowReportAtEndOfRun" value="true" />
    <add key="EnableSeasonalContent" value="true" />
    <add key="UseFullPageScreenshots" value="false" />
  </reportSettings>
  <automationSettings>
    <add key="TestUrl" value="https://www.ul.com/" />
    <add key="BrowserType" value="Chrome" />
    <add key="WebDriverFolder" value="C:\UL.Automation\WebDrivers" />
  </automationSettings>
  <utilitySettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="MailosaurPrefix" value="kxxyxunf" />
  </utilitySettings>
  <trevorSettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="SoftwareBranch" value="Staging/28" />
    <add key="CacheFolder" value="" />
    <add key="TReVorApiEndpoint" value="https://trevor.global.ul.com/api/v1/" />
    <add key="ThomasApiEndpoint" value="https://thomas-service.global.ul.com/api/v1/" />
    <add key="VanessaApiEndpoint" value="https://trevor.global.ul.com:44306/api/v1/" />
    <add key="PublishResults" value="false" />
  </trevorSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="UL.Selenium.Portal.WERCSmart" />
      <stepAssembly assembly="UL.Automation.Reporting.SpecFlow" />
      <stepAssembly assembly="UL.Automation.Selenium.SpecFlow" />
      <stepAssembly assembly="UL.Automation.TReVor.SpecFlow" />
      <stepAssembly assembly="UL.Automation.Utilities.SpecFlow" />
    </stepAssemblies>
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>
