<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="reportSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="automationSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="utilitySettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="TestRunDataDB" connectionString="Data Source=trevor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SoftwareBuild" value="Unknown" />
    <add key="LogsFolder" value="C:\UL.Automation" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
  </appSettings>
  <reportSettings>
    <add key="ReportFolder" value="C:\Reports" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="ReportSubTitle" value="ULSC" />
    <add key="UseRunnerDialog" value="true" />
    <add key="ShowReportAtEndOfRun" value="true" />
    <add key="EnableSeasonalContent" value="true" />
    <add key="UseFullPageScreenshots" value="false" />
    <add key="ReportFormat" value="html" />
    <add key="ThrowOnFirstFailure" value="false" />
    <add key="BaseReportUrl" value="" />
  </reportSettings>
  <automationSettings>
    <add key="TestUrl" value="https://www.ul.com/" />
    <add key="BrowserType" value="Chrome" />
    <add key="WebDriverFolder" value="C:\UL.Automation\WebDrivers" />
    <add key="DownloadsFolder" value="" />
    <add key="AutoDownloadPdf" value="false" />
    <add key="RunHeadless" value="false" />
    <add key="PageObjectTimeOutSeconds" value="1.0" />
  </automationSettings>
  <utilitySettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="MailosaurPrefix" value="kxxyxunf" />
  </utilitySettings>
  <trevorSettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ULSC" />
    <add key="SoftwareBranch" value="Staging" />
    <add key="CacheFolder" value="" />
    <add key="TReVorApiEndpoint" value="https://trevor.global.ul.com/api/v1/" />
    <add key="ThomasApiEndpoint" value="https://thomas-service.global.ul.com/api/v1/" />
    <add key="VanessaApiEndpoint" value="https://trevor.global.ul.com:44306/api/v1/" />
    <add key="PublishResults" value="false" />
  </trevorSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="UL.Selenium.Portal.WERCSmart" />
      <stepAssembly assembly="UL.Automation.SpecFlow" />
    </stepAssemblies>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>