<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="Mailosaur" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="WERCSmartDev" connectionString="Data Source=wpssql2012deva.thewercs.local;Initial Catalog=WebPortalV3;Integrated Security=True;Connection Timeout=120" providerName="System.Data.SqlClient" />
    <add name="TestRunDataDB" connectionString="Data Source=Trevor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Current_version" value="QA" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports" />
    <add key="TestUrl" value="https://wps.thewercs.com/dbsplit/dev/Wercs.SHA.MVCWebV1/" />
    <add key="SHAUrl" value="http://wercsdeviis01.thewercs.local/Releases/6.1.v25/WPSV3/logon.aspx?ReturnUrl=%2fReleases%2f6.1.v25%2fWPSV3%2fprivate%2fdesktop.aspx" />
    <add key="ChooseGGUrl" value="https://staging.thewercs.com/SHA.MVCWeb/Home/ssologin?sourceService=GoodGuide" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="MailosaurPrefix" value="ybz1kese" />
    <add key="SiteType" value="QA" />
    <add key="DoPostBuild" value="true" />
    <add key="UseLocalCache" value="false" />
    <add key="SiteEdition" value="QA" />
    <add key="CacheFolder" value="C:\automatedruns\cache" />
    <add key="AssemblyName" value="Wercs.Selenium.PortalUX" />
    <add key="TakeFullPageScreenshots" value="false" />
    <add key="StoreScenarioDetails" value="false" />
    <add key="AnalyseStepBindings" value="false" />
  </appSettings>
  <trevorSettings>
    <add key="APIEndpoint" value="https://trevor.global.ul.com/api/v1/" />
    <add key="Database" value="Data Source=TReVor.global.ul.com\SQLSERVER;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" />
    <add key="AssemblyName" value="UL.Selenium.Portal.WERCSmart" />
    <add key="ThomasShare" value="\\trevor-storage.playground.local\ThoMaS Data" />
    <add key="ThomasEndpoint" value="http://trevor-storage.playground.local/Thomas/Api/v1/" />
    <add key="APIEndpointBackup" value="http://trevor-backup.playground.local/api/v1" />
  </trevorSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="NTTQA.Selenium.TReVor" />
      <stepAssembly assembly="NTTQA.Selenium.Reporting" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <Mailosaur>
    <add key="WERCSmart" value="kxxyxunf" />
  </Mailosaur>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>