<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="Current_version" value="Unknown" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports" />
    <add key="TestUrl" value="https://trevor.global.ul.com" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="SiteType" value="Staging" />
    <add key="SiteEdition" value="Unknown" />
    <add key="DoPostBuild" value="true" />
    <add key="UseLocalCache" value="false" />
    <add key="CacheFolder" value="C:\GitLab\UL.Selenium.Portal\UL.Selenium.Portal\UL.Selenium.Portal.ShaManager\bin\Debug\Cache Files" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ShaManager" />
    <add key="TakeFullPageScreenshots" value="false" />
    <add key="StoreScenarioDetails" value="false" />
    <add key="AnalyseStepBindings" value="false" />
  </appSettings>
  <trevorSettings>
    <add key="APIEndpoint" value="https://trevor.global.ul.com/api/v1" />
    <add key="Database" value="Data Source=TReVor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ShaManager" />
  </trevorSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="NTTQA.Selenium.TReVor" />
      <stepAssembly assembly="NTTQA.Selenium.Reporting" />
      <stepAssembly assembly="UL.Selenium.Portal.WercSmart" />
    </stepAssemblies>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>