<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="Wercs NuGet Feed" value="http://enknuget.global.ul.com/nuget/Wercs" />
    <add key="TReVor NuGet Feed" value="http://trevor.global.ul.com:8624/nuget/NuGet" />
    <add key="NuGet.Org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>