<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Current_version" value="Unknown" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports" />
    <add key="TestUrl" value="https://wps.thewercs.com/dbsplit/dev/Wercs.SHA.MVCWebV1/" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="SiteType" value="Staging/28" />
    <add key="SiteEdition" value="Unknown" />
    <add key="DoPostBuild" value="true" />
    <add key="UseLocalCache" value="false" />
    <add key="CacheFolder" value="C:\automatedruns\cache" />
    <add key="AssemblyName" value="Wercs.Selenium.PortalUX" />
    <add key="TakeFullPageScreenshots" value="false" />
    <add key="StoreScenarioDetails" value="false" />
    <add key="AnalyseStepBindings" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="TestRunDataDB" connectionString="Data Source=trevor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Wercs.Selenium.PortalUX" />
      <stepAssembly assembly="NTTQA TReVor Module" />
      <stepAssembly assembly="NTTQA Reporting Module" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>