<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Current_version" value="Unknown" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports" />
    <add key="TestUrl" value="https://trevor.global.ul.com" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="SiteType" value="Production/28" />
    <add key="SiteEdition" value="Unknown" />
    <add key="DoPostBuild" value="true" />
    <add key="UseLocalCache" value="false" />
    <add key="CacheFolder" value="C:\automatedruns\cache" />
    <add key="AssemblyName" value="Wercs.Selenium.PortalUX" />
    <add key="TakeFullPageScreenshots" value="false" />
    <add key="StoreScenarioDetails" value="false" />
    <add key="AnalyseStepBindings" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="TestRunDataDB" connectionString="Data Source=trevor.global.ul.com\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <stepAssembly assembly="SafewareSeleniumUtilities" />
      <stepAssembly assembly="Wercs.Selenium.PortalUX" />
    </stepAssemblies>
  </specFlow>
</configuration>
