<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Wercs.Selenium.PortalUX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    
    <section name="Mailosaur" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <applicationSettings>
      <Wercs.Selenium.PortalUX.Properties.Settings>
          <setting name="BaseURL" serializeAs="String">
              <value>https://50.59.136.185/dbsplit/dev/Wercs.SHA.MVCWebV1/</value>
          </setting>
          <setting name="Browser" serializeAs="String">
              <value>Chrome</value>
          </setting>
      </Wercs.Selenium.PortalUX.Properties.Settings>
  </applicationSettings>
  <Mailosaur>
    <add key="WERCSmart" value="ybz1kese" />
  </Mailosaur>
  <connectionStrings>
    <add name="TestRunDataDB" connectionString="Data Source=TRVSERVER\SQLEXPRESS;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Current_version" value="Test" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports\WERCSmart" />
    <add key="TestUrl" value="https://50.59.136.185/dbSplit/prod/Wercs.SHA.MVCWebV1/" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="Admin1" value="SeleniumAdmin01@thewercs.com" />
    <add key="AdminPassword1" value="Selenium1!" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="MailosaurPrefix" value="ybz1kese" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="SafewareSeleniumUtilities" />
    </stepAssemblies>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>