<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="Wercs NuGet Feed" value="http://nuget.thewercs.local/nuget/Wercs" />
    <add key="Safeware NuGet Feed" value="http://safeware-nuget.global.ul.com/nuget/nuget/" />
  </packageSources>
  <disabledPackageSources>
    <add key="Safeware Local NuGet Feed" value="true" />
  </disabledPackageSources>
</configuration>
