<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="EnvDTE" version="8.0.1" targetFramework="net461" />
  <package id="EnvDTE80" version="8.0.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.6.6" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net461" />
  <package id="Mailosaur" version="3.0.2" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NPOI" version="2.3.0" targetFramework="net461" />
  <package id="NUnit" version="3.7.1" targetFramework="net461" />
  <package id="Safeware.SeleniumUtilities" version="3.1.6" targetFramework="net461" />
  <package id="Selenium.Support" version="3.5.2" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.5.2" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net461" />
  <package id="stdole" version="7.0.3301" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net461" />
  <package id="Wercs.StyleCop.Settings" version="3.0.8" targetFramework="net461" developmentDependency="true" />
</packages>