<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="reportSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="automationSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="utilitySettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="SoftwareBuild" value="Unknown" />
    <add key="LogsFolder" value="C:\UL.Automation" />
    <add key="AssemblyName" value="UL.Selenium.Portal.RPS" />
  </appSettings>
  <reportSettings>
    <add key="ReportFolder" value="C:\Reports" />
    <add key="AssemblyName" value="UL.Selenium.Portal.RPS" />
    <add key="ReportSubTitle" value="" />
    <add key="UseFullPageScreenshots" value="false" />
    <add key="UseRunnerDialog" value="true" />
    <add key="ShowReportAtEndOfRun" value="true" />
    <add key="EnableSeasonalContent" value="true" />
    <add key="ReportFormat" value="html" />
    <add key="ThrowOnFirstFailure" value="false" />
    <add key="BaseReportUrl" value="" />
    <add key="CreateReportFolderSubPath" value="true" />
    <add key="PerformReportRendering" value="true" />
  </reportSettings>
  <automationSettings>
    <add key="TestUrl" value="https://www.ul.com/" />
    <add key="BrowserType" value="Chrome" />
    <add key="WebDriverFolder" value="C:\UL.Automation\WebDrivers" />
    <add key="DownloadsFolder" value="" />
    <add key="AutoDownloadPdf" value="false" />
    <add key="RunHeadless" value="false" />
    <add key="PageObjectTimeOutSeconds" value="1.0" />
    <add key="EmulatedDeviceType" value="" />
    <add key="UseIncognitoBrowser" value="false" />
    <add key="BrowserLanguage" value="" />
  </automationSettings>
  <utilitySettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.RPS" />
    <add key="MailosaurPrefix" value="" />
  </utilitySettings>
  <trevorSettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.RPS" />
    <add key="SoftwareBranch" value="Staging - Azure" />
    <add key="LinkedSoftwareId" value="21" />
    <add key="ApiEndpoint" value="https://trevor.global.ul.com/api/" />
  </trevorSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="UL.Selenium.Portal.WERCSmart" />
      <stepAssembly assembly="UL.Automation.SpecFlow" />
    </stepAssemblies>
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>