<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trevorSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="reportSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="automationSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="utilitySettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="SoftwareBuild" value="Unknown" />
    <add key="LogsFolder" value="C:\UL.Automation" />
    <add key="Current_version" value="Unknown" />
    <add key="CollectTestRunData" value="false" />
    <add key="Reports_folder" value="C:\Reports" />
    <add key="TestUrl" value="https://trevor.global.ul.com" />
    <add key="BrowserRequired" value="true" />
    <add key="browser" value="Chrome" />
    <add key="RunHeaderless" value="false" />
    <add key="ShowReportAfterTest" value="true" />
    <add key="SiteType" value="Unknown" />
    <add key="SiteEdition" value="Unknown" />
    <add key="DoPostBuild" value="true" />
    <add key="UseLocalCache" value="false" />
    <add key="CacheFolder" value="C:\NetProjects10\Git\UL.Selenium.Portal\UL.Selenium.Portal\UL.Selenium.Portal.ChooseGoodGuide\bin\Debug\Cache Files" />
    <add key="AssemblyName" value="UL.Selenium.Portal" />
    <add key="TakeFullPageScreenshots" value="false" />
    <add key="StoreScenarioDetails" value="false" />
    <add key="AnalyseStepBindings" value="false" />
  </appSettings>
  <reportSettings>
    <add key="ReportFolder" value="C:\Reports" />
    <add key="AssemblyName" value="UL.Selenium.Portal.ChooseGoodGuide" />
    <add key="ReportSubTitle" value="" />
    <add key="UseRunnerDialog" value="true" />
    <add key="ShowReportAtEndOfRun" value="true" />
    <add key="EnableSeasonalContent" value="true" />
  </reportSettings>
  <automationSettings>
    <add key="TestUrl" value="https://www.ul.com/" />
    <add key="BrowserType" value="Chrome" />
    <add key="WebDriverFolder" value="C:\UL.Automation\WebDrivers" />
  </automationSettings>
  <utilitySettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ChooseGoodGuide" />
    <add key="MailosaurPrefix" value="kxxyxunf" />
  </utilitySettings>
  <trevorSettings>
    <add key="AssemblyName" value="UL.Selenium.Portal.ChooseGoodGuide" />
    <add key="SoftwareBranch" value="Staging" />
    <add key="CacheFolder" value="" />
    <add key="TReVorApiEndpoint" value="https://trevor.global.ul.com/api/v1/" />
    <add key="ThomasApiEndpoint" value="https://thomas-service.global.ul.com/api/v1/" />
    <add key="VanessaApiEndpoint" value="https://trevor.global.ul.com:44306/api/v1/" />
    <add key="PublishResults" value="false" />
    <add key="APIEndpoint" value="https://trevor.global.ul.com/api/v1" />
    <add key="VanessaEndpoint" value="https://trevor.global.ul.com:44306/api/v1" />
    <add key="APIEndpointBackup" value="http://trevor-backup.playground.local/api/v1" />
    <add key="Database" value="Data Source=trevor.global.ul.com\SQLSERVER;Initial Catalog=TestRunDB;uid=sa;pwd=S7R23K8T22eh?;Integrated Security=False;Connection Timeout=120" />
    <add key="ThomasShare" value="\\trevor-storage.playground.local\Thomas Data" />
    <add key="ThomasEndpoint" value="https://thomas-service.global.ul.com/API/v1/" />
    <add key="UseRemoteWebDriver" value="false" />
    <add key="RemoteMachine" value="" />
  </trevorSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="UL.Selenium.Portal.WERCSmart" />
      <stepAssembly assembly="UL.Automation.Reporting.SpecFlow" />
      <stepAssembly assembly="UL.Automation.Selenium.SpecFlow" />
      <stepAssembly assembly="UL.Automation.TReVor.SpecFlow" />
      <stepAssembly assembly="UL.Automation.Utilities.SpecFlow" />
      <stepAssembly assembly="NTTQA.Selenium.TReVor" />
      <stepAssembly assembly="NTTQA.Selenium.Reporting" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>